.Block 
{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
width: 650px;
height: 450px;
left: 395px;
top: 180px;
background: #FAFAFA;
border-radius: 10px;
}
#Intro
{
/* Section heading */
width: 528px;
height: 24px;

/* Typography/Body 1 */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

display: flex;
align-items: center;
letter-spacing: 0.15px;

/* Light/Text/Primary */

color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#SliderOne
{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
width: 110px;
height: 38px;
flex: none;
order: 2;
flex-grow: 0;
}

#SliderTwo
{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
width: 110px;
height: 38px;
flex: none;
order: 5;
flex-grow: 0;
}